@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
    background-color: #FFD56F;
    color:#939B62 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
.container h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    border: 5px solid grey;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.container p {
    font-family: 'Advent Pro', sans-serif;
    font-size: 25px;
}
table {
  text-align: center;
}
th {
    background-color:#939B62 ; 
    color: white;
}
th, td {
    border: 1px solid grey;
    padding: 20px;
}
a {
    background-color: bisque;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.fa-c {
    font-size: 40px;
    color: black;
}

