
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Stalemate&display=swap');


* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.main {
    height: 100vh;
    width: 100%;
    background-color: chocolate;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
h1 {
    font-size: 70px;
    margin: 20px;
    font-family: 'Stalemate', cursive;
}
p{
    font-size: 50px;
    margin: 20px;
    font-family: 'Fredericka the Great', cursive;
}
.countbutton {
    padding: 20px;
    border: none;
    background-color: blanchedalmond;
    width: 200px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.savebutton {
    padding: 20px;
    border: none;
    background-color:darkkhaki;
    width: 200px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.hourlyCount{
    border: 1px solid whitesmoke;
    padding: 20px;
    font-size: 20px;
    width: 800px;
   
}
.wrap {
    display: flex;
}
.reset {
    padding: 20px;
    border: none;
    background-color:white;
      width: 300px;
    margin: 20px;
    color: black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}